﻿@model dynamic

@{
    ViewBag.Title = "Zombie Sharks from Outer Space";
    Layout = "../Shared/_Layout.cshtml";
}

<h2 class="game-title">Zombie Sharks from Outer Space</h2>
<div id="game-container">
    <div class="game-hud-wrapper">
        <div class="game-hud-item">
            <p>Level: <span id="game-level"></span></p>
        </div>
        <div class="game-hud-item">
            <p>Score: <span id="game-score"></span></p>
        </div>
        <div class="game-hud-item">
            <p>Time Remaining: <span id="game-countdown"></span></p>
        </div>
    </div>
    <div id="canvas-container">
    </div>
    <div class="game-hud-wrapper">
        <div class="game-hud-item">
            <p>Laser Strength: <span id="game-laser-strength">0</span></p>
        </div>
        <div class="game-hud-item">
            <p>Defense Health: <span id="game-defense-health">0</span></p>
        </div>
        <div class="game-hud-item">
            <p>Pride Size: <span id="game-pride">0</span></p>
        </div>
    </div>
</div>
<div class="game-footer">
    <p>Zombie Sharks from outer space is the epic new game from <a href="https://twitter.com/MacsDickinson">Pineapple Game Studios</a>.</p>
    <h2>Full Game Coming Soon</h2>
    <p>Want to contribute? Fork me on <a href="https://bitbucket.org/MacsDickinson/zombie-sharks-from-outer-space/overview">BitBucket</a>.</p>
    <p>Got an idea for the game? Leave a comment on <a href="https://trello.com/board/zombie-sharks-from-outer-space/5137afd47f907e6338000246" title="Trello Development Board">Trello</a>.</p>
</div>