﻿html {
    height: 100%;
    background-color: #111;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    height: 100%;
    min-height: 1100px;
    border-right: 3px solid #555;
    border-left: 3px solid #555;
    background-color: #111;
    width: 900px;
    font-size: .85em;
    font-family: 'Titillium Web', sans-serif;
    color: #888;
    margin: 0 auto;
}

header, footer, nav, section {
    display: block;
}

a {
    color: maroon;
    text-decoration: none;
    font-weight: bold;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

#lean_overlay {
    z-index:100;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.modal-trigger, .modal-close{
    display: none;
}
/* Style for the Menu
-------------------------------------------------------------*/

.menu-container{
    top: 220px;
	display:none;
	background: #111;
    padding: 20px;
    border: #d3d3d3 1px solid;
    border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.7); 
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); 
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.7);
}
    .menu-container fieldset {
        border: none;
        padding: 1.4em;
        margin: 0;
    }
    .menu-container fieldset legend{
        text-align: center;
        font-size: 1.4em;
        color: maroon;
        margin: 0 auto;
        padding: 10px 0;
        font-family: 'Nosifer', cursive;
    }
    .menu-container ul {
        list-style-type: none;
        text-align: center;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        -webkit-padding-start: 0;
    }
        .menu-container ul li {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .menu-container ul li a {
            padding: 5px;
            background-color: #d3d3d3;
            display: block;
        }

/* Style for the game
    ---------------------------------------------------------*/
canvas {
    border-bottom: #555 solid 3px;
    border-top: #555 solid 3px;
    position: absolute;
}
#game-container {
    width: 900px;
}
#canvas-container {
    width: 900px;
    height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.game-hud-wrapper {
    margin: 15px auto;
    width: 672px;
}
.game-hud-item {
    display: inline-block;
    border: 1px solid #d3d3d3;
    width: 200px;
    margin: 0 10px;
    background-color: #d3d3d3;
}
    .game-hud-item p {
        text-align: center;
        font-weight: bold;
    }
.game-title {
    text-align: center;
    color: maroon;
    margin: 0 auto;
    padding: 10px 0;
    font-family: 'Nosifer', cursive;
}
.game-footer {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
    .game-footer ul {
        list-style: none;
        display: inline-block;
    }
        .game-footer ul li {
            float: left;
        }
            .game-footer ul li a {
                padding: 10px;
                margin: 5px;
                background-color: #111;
                border: #d3d3d3 solid 1px;
            }
#laserCanvas {
    -webkit-user-select: none; 
}
#laserCanvas:hover {
    cursor: none;
}
#laserCanvas:active{
    cursor: none;
}